/* #region  Setup */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: var(--color-bg);
  overflow-x: hidden;
}

::selection {
  color: #fff;
  background: var(--color-selection);
}

::-webkit-scrollbar {
  width: 5px;
  background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}
/* #endregion */

main {
  font-size: 10vw;
  padding: 3vw;
}

.click-indicator {
  position: fixed;

  color: var(--color-text);
  font-family: 'NeueHaasGroteskDisp Pro Md';

  opacity: 0;
  visibility: hidden;
  transition: 0.2s opacity;
}
