body
  color: var(--color-text)

  font-family: var(--font-body)
  font-size: 1.6rem
  font-weight: 400
  line-height: 1.6

h1,
h2,
h3,
h4,
h5,
h6,
th
  display: inline-block

  margin: 0 0 0.3em 0

  font-family: var(--font-header)
  font-weight: 400
  line-height: 1.18

h1,
.h1
  font-size: 6.4rem

h2,
.h2
  font-size: 4.8rem

h3,
.h3
  font-size: 3.6rem

h4,
.h4
  font-size: 2.7rem

h5,
.h5
  font-size: 2.2rem

h6,
.h6
  font-size: 2rem

p,
.p

a
  transition: var(--transition1)
  text-decoration: none


  





  


.title-main
  font-family: "NeueHaasGroteskDisp Pro Md" 
  font-style: normal
  font-weight: normal
  // font-size: calc(100vw / 19)
  // line-height: 160px
  line-height: 1
  margin: 0
  pointer-events: none
  user-select: none
  /* or 184px */

  // text-align: center
  letter-spacing: -0.01em

  color: #151515
  overflow: hidden

  span
    display: inline-block
    padding-bottom: 8vw